.addBtn{
  padding: 4px 8px;
  background-color: transparent;
}

.userListbox{
  padding: 20px;
  width: 500px;
  height: 500px;
  -webkit-box-shadow: 2px 2px 5px 3px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 5px 3px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 5px 3px rgba(0,0,0,0.75);
  overflow-y: scroll;
}


